html
  head
    include elements/_head

  body
    include elements/_header
    
  div#content.right_sidebar
    block subheader
      section#sub-header
        .wrap
          h1 下層ページ左サイドバー
  
    block breadcrumb
      nav#bc
        ol.wrap
          li: a(href="/") トップページ
          li 下層ページ左サイドバー
        
    #main
      .wrap
        #sb
          block sidebar
            h2: a(href="#") 左サイドバー
            nav
              ul
                li: a(href="#") コンテンツ１
                li: a(href="#") コンテンツ２
                li: a(href="#") コンテンツ３
                li: a(href="#") コンテンツ４
        #main-content
          block content
            article
              h1 ページタイトル
              p.desc
                |ページの概要が入りますよ
              div
                h2 小見出し１
                p.
                  ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります
                h3 孫見出し１
                p.
                  ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります　ダミーテキストが入ります
  
                
            nav#related
              h2 こちらのページもご覧ください
              ul
                li: a(href="#") 店舗一覧
                li: a(href="#") ネットショッピング
                li: a(href="#") よくある質問            
  
  footer#footer
    #fNav.wrap
      nav
        ul
          li: a(href="/noodle/") 打ちたて制麺とは
          li: a(href="/factory/") 淀川製麺所
          li: a(href="/shop/") ネットショップ
          li: a(href="#") 法人契約
          li: a(href="#") よくある質問
          li: a(href="#") お問い合わせ
          li: a(href="#") プライバシーポリシー
          li: a(href="#") 会社概要
    #address
      .wrap
        address
          p 
            | copyright all rights resereved by Yodogawa Noodle Laboratory &copy 2015