doctype
- var titledef = "淀川製麺所 - 大阪市・北摂地域の打ちたて宅配製麺";
- var metakey = "製麺, 宅配, 大阪, 淀川区, うどん, そば, ラーメン, パスタ, ネット通販";
- var metades = "大阪市淀川区の製麺所です。うどん・そば・ラーメン・パスタをはじめ、あらゆる麺を製造しています。お電話一本で淀川区・北区・尼崎・豊中へ宅配。日本全国からもネットでご注文いただけます。";
html
  head
    include elements/_head
  body
    include elements/_header
    div#content
      #hero
        .wrap
          img(src="/common/img/index/hero.jpg" width="960" height="400" alt="麺を作り続けて30年 私たちの麺が世界を繋ぎます")
      #main
        .wrap
          #feature
            section
              h1 
                |日本各地のうどんを、
                br
                |すべて淀川区で
              img(src="http://placehold.jp/210x100.png")
              p.desc
                |讃岐、稲庭、福岡…　日本各地の有名うどんを完全再現。淀川製麺所では、日本全国のうどんを楽しめます
            section
              h1
                |コスパ最強
                br
                |二八そば
              img(src="http://placehold.jp/210x100.png")
              p.desc
                | 淀川製麺所は、味とコストの両立を追求。「まるで十割そば」と名高い、淀川製麺特製二八そばを完成させました。
            section
              h1
                |爆誕！
                br
                |特製「縮れ麺」
              img(src="http://placehold.jp/210x100.png")
              p.desc
                | スープと麺の絡まりを追求した、ラーメン専用麺「極太縮」。淀川製麺所だけの限定販売です。
            section
              h1 ご家庭でも淀川製麺所の麺を楽しめます！
              img(src="http://placehold.jp/210x100.png")
              p.desc
                | 当製麺所の宅配は、飲食店・法人のみならず、一般のご家庭にもお届けしています。お気軽にご注文ください！
        #sub-content.wrap
          #news
            h2 淀川製麺所からのお知らせ
            nav
              ul
                li: a(href="#")
                  time 2015/04/05
                  乾麺も販売しております【パスタ・素麺】
                li: a(href="#")
                  time 2015/04/01
                  ご好評につき、十割そば増産中
                li: a(href="#")
                  time 2015/03/22
                  お客さまアンケートにお答え頂き、プレゼントゲット！
                li: a(href="#")
                  time 2015/03/15
                  宅配初めての方キャンペーン　~4/30まで
          #bnrs
            nav
              ul
                li: a(href="#"): img(src="http://placehold.jp/300x100.png")
                li: a(href="#"): img(src="http://placehold.jp/300x100.png")
                li: a(href="#"): img(src="http://placehold.jp/300x100.png")
                
    footer#footer
      #fNav.wrap
        nav
          ul
            li: a(href="/noodle/") 打ちたて制麺とは
            li: a(href="/factory/") 淀川製麺所
            li: a(href="/shop/") ネットショップ
            li: a(href="#") 法人契約
            li: a(href="#") よくある質問
            li: a(href="#") お問い合わせ
            li: a(href="#") プライバシーポリシー
            li: a(href="#") 会社概要
      #address
        .wrap
          address
            p 
              | copyright all rights resereved by Yodogawa Noodle Laboratory &copy 2015