extends index

block append head
  link(rel="stylesheet" href="/css/factory.css")

block subheader
  section#sub-header
    .wrap
      h1 淀川製麺所へのアクセスについて

block breadcrumb
  nav#bc
    ol.wrap
      li: a(href="/") トップページ
      li: a(href="/factory/") 淀川製麺所
      li.current: アクセス
            
block content
  article#access
    h1 アクセス
    p.desc
      |淀川製麺所へのアクセスページです。店舗ご利用の方のための駐車場はありません。付近のコインパーキングをご利用いただくか、公共交通機関をご利用ください。
    h2 所在地
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3279.430689465893!2d135.4846201!3d34.719536749999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e5d25b159849%3A0x2f44f228344be3ef!2z44CSNTMyLTAwMjMg5aSn6Ziq5bqc5aSn6Ziq5biC5reA5bed5Yy65Y2B5LiJ5p2x77yR5LiB55uu77yR77yX4oiS77yR77yTIOawtOS6pOODk-ODqw!5e0!3m2!1sja!2sjp!4v1430125396986" width="690" height="450" frameborder="0" style="border:0"></iframe>
    p
      大阪市淀川区十三東1-17-13
    .row
      .col
        h2 製麺所までの道のり
        .indent
          h3 車で
          p.
            淀川通りを阪急電車のガードをくぐり、北東へ150m
          h3 電車で
          p.
            阪急電車「十三駅」東口を出て、徒歩約5分
          h3 バスで
          p.
            大阪市営バス　十三東口バス停から、徒歩約3分
      .col
        h2 営業時間
        p.
          午前9時〜午後6時
        .indent
          h3 配達時間
          dl
            dt 午前便
            dd 午前8時〜正午（受付時間 午前9時〜午前11時）
            dt 午後便
            dd 午後1時30分〜午後6時（受付時間 午後1時〜午後5時）
          h3 直営店
            dl
              dt お持ち帰り
              dd 午前11時〜午後6時
              dt イートイン
              dd 午前11時〜午後2時
  nav#related
    h2 こちらのページもご覧ください
    ul
      li: a(href="/factory/") 淀川製麺所について
      li: a(href="/noodle/staff.html") スタッフ