footer#footer
  #fNav.wrap
    nav
      ul
        li: a(href="/noodle/") 打ちたて制麺とは
        li: a(href="/factory/") 淀川製麺所
        li: a(href="/shop/") ネットショップ
        li: a(href="#") 法人契約
        li: a(href="#") よくある質問
        li: a(href="#") お問い合わせ
        li: a(href="#") プライバシーポリシー
        li: a(href="#") 会社概要
  #address
    .wrap
      address
        p 
          | copyright all rights resereved by d2d &copy 2015