block title
  title= titledef
block metatitle
  meta(name="description" content="#{metades}")
  meta(name="keyword" content="#{metakey}")
block metarobots
  meta(name="robots" content="noindex,noarchive,follow")
block head
  link(rel="stylesheet" href="/css/main.css")